[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
click = "==7.0"
pyserial = "==3.4"
pyudev = "==0.21.0"
cython = "==0.29.2"
# flatbuffers = "==1.10"
# protobuf = "==3.6.1"
# msgpack = "*"
# flask = "*"
# aioprocessing = "*"
# pyserial-asyncio = "*"
# aiofiles = "*"
# uvloop = "*"
# cobs = "*"
# [dev-packages]
# pylint = "==1.8.1"
# yappi = "*"
